.photo-grid {
    max-width: 1184px;
    min-height: 671px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: row;
    gap: 16px;
    box-sizing: border-box;


}

@media screen and (max-width: 1124px) {
    .photo-grid {
        gap: 14px;
        grid-template-columns: auto auto auto;

    }

}

@media screen and (max-width: 968px) {
    .photo-grid {
        gap: 16px;
        grid-template-columns: auto auto;
        padding: 0 24px 0;
    }

}

@media screen and (max-width: 568px) {
    .photo-grid {
        gap: 12px;
        grid-template-columns: auto;
        padding: 0 16px 0;
    }

}