.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
  box-sizing: border-box;
  max-width: 100%;
}

@media screen and (max-width: 1124px) {
  .photo-grid {
    gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 968px) {
  .photo-grid {
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid {
    gap: 12px;
    padding: 0 16px 0;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  }
}
