.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", "Arial", "sans-serif";
  width: 100%;
  box-sizing: border-box;
  padding: 0 100px 0;
  margin: 0 auto;

}

@media screen and (max-width: 1124px) {
  .lead {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 968px) {
  .lead {
    padding: 0;
  }
}
