.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .footer__copyright {
    text-align: start;
    margin-top: 48px;
    line-height: 14px;
  }
}
