.lead__image {
    max-width: 100%;
    min-height: 615px;
    background-size: cover;
    margin: 64px 0 22px;
    
}

@media screen and (max-width: 1124px) {
    .lead__image {
       
        min-height: 580px;
        margin: 56px 0 22px;
        
    }

}

@media screen and (max-width: 984px) {
    .lead__image {
        min-height: 480px;
        margin: 56px 0 22px;
       
       

    }

}

@media screen and (max-width: 568px) {
    .lead__image {
        min-height: 200px;
        
        margin: 40px 0 22px;
    }

}