.lead__image {
    max-width: 100%;

    background-size: cover;
    margin: 64px 0 8px;

}

@media screen and (max-width: 1124px) {
    .lead__image {
        margin: 56px 0 8px;
    }

}

@media screen and (max-width: 984px) {
    .lead__image {
        max-width: 100%;
        margin: 56px 0 8px;
    }

}

@media screen and (max-width: 568px) {
    .lead__image {
        max-width: 100%;
        margin: 40px 0 8px;
    }

}