.lead__image {
  max-width: 100%;
  min-height: 615px;
  margin: 64px 0 8px;
  object-fit: cover;
}

@media screen and (max-width: 1124px) {
  .lead__image {
    width: 100%;
    min-height: 580px;
    margin: 56px 0 8px;
  }
}

@media screen and (max-width: 984px) {
  .lead__image {
    min-height: 480px;
  }
}

@media screen and (max-width: 568px) {
  .lead__image {
    min-height: 200px;
    margin: 40px 0 8px;
  }
}
