.intro {
  max-width: 690px;
  min-height: 429px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Inter", "Arial", "sans-serif";
  box-sizing: border-box;
}

@media screen and (max-width: 984px) {
  .intro {
    max-width: 100%;
    padding: 0 16px 0;
  }
}
