.intro {
  font-family: "Inter", "Arial", "sans-serif";
  box-sizing: border-box;
  padding: 0 0 0 100px;
  align-self: flex-start;
  margin: 0;
}

@media screen and (max-width: 1124px) {
  .intro {
    max-width: 100%;
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 568px) {
  .intro {
    padding: 0 16px 0;
  }
}
