.lead__subtitle {
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
