 .content__section {
    box-sizing: border-box;
    padding: 0 48px;
    width: 100px;
    margin: 0 auto;
 }
@media screen and(max-widht: 1124px) {
   .content__section {
      padding: 0;
    
   }
   
}