.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
  align-self: start;
}

@media screen and (max-width: 968px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 568px) {
  .lead__caption {
    margin-left: 16px;
  }
}
