.lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.40;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;

}

@media screen and (max-width: 1124px) {
    .lead__image {
        margin: 56px 0 8px;
    }

}

@media screen and (max-width: 984px) {
    .lead__image {
        max-width: 100%;
        margin: 56px 0 8px;
    }

}

@media screen and (max-width: 568px) {
    .lead__image {
        font-size: 10px;
        line-height: 14px;
        left: 16px;
        top: 8px
    }

}