.place {
    max-width: 984px;
    min-height: 564px;
    display: grid;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-columns: 460px 482px;

    font-family: 'Inter', 'Arial', 'sans-serif';


}

@media screen and (max-width: 1124px) {
    .place {
        max-width: 100%;
        grid-template-columns: 440px auto;
        grid-template-rows: max-content;
        column-gap: 32px;

    }
}

@media screen and (max-width: 968px) {
    .place {
        min-height: 434px;
        max-width: 100%;
        grid-template-columns: 340px auto;
        grid-template-rows: max-content;
        column-gap: 28px;
        padding: 0 24px 0;

    }
}

@media screen and (max-width: 568px) {
    .place {
        max-width: 100%;
        grid-template-columns: 320px;
        row-gap: 32px;
               padding: 0;
        
    }
}