.place {
  width: 100%;
  padding: 0 100px 0;
  display: grid;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns: 460px 1fr;
  font-family: "Inter", "Arial", "sans-serif";
  box-sizing: border-box;
}

@media screen and (max-width: 1124px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 968px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 648px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
    padding: 0;
  }
}
