.footer {
  font-family: "Inter", "Arial", "sans-serif";
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 1184px;
}

@media screen and (max-width: 1124px) {
  .footer {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 968px) {
  .footer {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 612px) {
  .footer {
    padding: 0 118px 0 16px;
    flex-direction: column;
  }
}
